@font-face {
  font-family: 'IntelOneMono';
  src: url('./font/intelone/intelone-mono-font-family-regular.woff2') format('woff2');
}

.flow-graph {
  font-family: IntelOneMono;
}

.basic-block {
  float: left;
  clear: left;
  display: inline;
  border: 1px solid #888888;
}

.instruction {
  display: inline-block;
}

.instruction .address,
.instruction .bytes,
.instruction .mnemonic,
.instruction .operands,
.instruction .comments {
  display: inline-block;
  margin-right: 1em;
}

.instruction .bytes {
  width: 16em;
}

.instruction .mnemonic {
  /* rep movsb */
  width: 6em;
}

.expression {
  color: grey;
}

.expression.register {
  color: blue;
}

.expression.immediate-int {
  color: green;
}

a:hover {
  color: blue;
  text-decoration: underline;
}