body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

dl {
  padding: 0.5em;
  margin: 1px;
}

dt {
  float: left;
  clear: left;
  width: 200px;
  text-align: right;
  font-weight: bold;
}

dt::after {
  content: ":";
}

dd {
  margin: 0 0 0 210px;
  padding: 0 0 0.5em 0;
  text-align: left;
}
